@import "tailwindcss";

:root {
  color: #00033d;

  --text-primary: #00033d;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 8s ease infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-float-slow {
  animation: float 9s ease-in-out infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease forwards;
}

.animate-fade-in-delay {
  animation: fadeIn 1.6s ease forwards;
}

.ant-dropdown-menu .ant-dropdown-menu-item-active {
  background-color: #136ae317 !important;
  color: #0096ff !important;
}

.ant-dropdown-menu .ant-dropdown-menu-item {
  color: var(--text-primary) !important;
}

.ant-drawer .ant-drawer-header {
  padding: 0 !important;
  padding: 10px 10px !important;
}
.ant-drawer .ant-drawer-body {
  padding: 0 !important;
}
.ant-btn.ant-btn-default {
  color: #02152699 !important;
  border-color: lab(85.1236% -0.612259 -3.7138) !important;
}

.ant-btn.ant-btn-default:hover {
  color: #0096ff !important;
  border-color: #0096ff !important;
}

.ant-table-wrapper .ant-table-thead > tr > th {
  background-color: #f4f8f9 !important;
  padding: 10px !important;
  color: var(--text-primary) !important;
  font-size: 14px !important;
  border-bottom: 1px solid #d9dee0 !important;
}

.ant-table-wrapper .ant-table-tbody > tr > td {
  padding: 10px 10px !important;
  color: var(--text-primary) !important;
  border-color: #d9dee0 !important;
}

.ant-table-wrapper .ant-table-tbody > tr.ant-table-row:last-of-type > td {
  border-bottom: none;
}
